.about-us {
	position: relative;
	overflow: hidden;
	background-color: #f2f2f2;
	min-height: 600px;
	margin-top: 100px;
}

.about-info {
	margin-top: -70px;
}

.about-info .wrap-info {
	overflow: hidden;
	border-radius: 6px;
	box-shadow: 0 20px 60px rgba(2, 2, 30, 0.09);
}

.about-info .row {
	overflow: hidden;
}

.about-info .col-6 {
	background-color: white;
	padding: 25px 100px;
}

.about-info .col-6:last-child {
	padding-left: 0;
}

.about-info h2 {
	color: #ef9042;
	font-size: 45px;
}

.about-info p {
	font-size: 24px;
	color: #5a5a5a;
	clear: both;
}

.about-info hr {
	height: 2px;
	width: 95px;
	background-color: #ef9042;
	float: left;
	border: 0;
}

.about-guide .wrap-guide {
	flex-direction: row;
	display: flex;
	padding-bottom: 70px;
}

.about-guide .col-left {
	flex: 1;
}

.about-guide .col-right {
	flex: 1;
}

.about-guide .wrap-image {
	margin-right: 75px;
}

.about-guide h2 {
	font-size: 75px;
}

.about-guide h4 {
	font-size: 24px;
}

.about-guide p {
	font-size: 24px;
}

.about-guide blockquote {
	background-color: #f2f2f2;
	margin: 0;
	padding: 30px 50px;
	font-size: 18px;
}

.about-coach {
	overflow: hidden;
	padding-top: 130px;
	padding-bottom: 260px;
	background-color: #EF9042;
}

.about-coach h2 {
	font-size: 75px;
	color: #fff;
}

.about-coach p {
	font-size: 24px;
	color: #fff;
	float: right;
	max-width: 667px;
}

.about-type .type-anchor {
	margin-top: 240px;
	padding-bottom: 100px;
}


@media only screen and (max-width: 1000px) and (min-width: 768px) {
	.about-info {
		margin-top: 10px;
	}
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
	.about-us {
		overflow: visible;
	}

	.about-us .get-in-touch {
		margin-top: 200px;
		background-color: white;
		border-radius: 6px;
		box-shadow: 0 20px 60px rgba(2, 2, 30, 0.09);
	}

	.get-in-touch .about {
		padding: 30px;
	}

	.about-info {
		margin-top: 150px;
	}

	.about-info .wrap-info {
		overflow: visible;
		border: none;
		box-shadow: none;
	}

	.about-info .col-6 {
		padding: 15px;
		background-color: transparent;
	}

	.about-info .col-6:last-child {
		padding-left: 15px;
	}

	.about-guide .wrap-guide {
		flex-direction: column;
		padding: 0 15px;
	}

	.about-guide .col-left {
		order: 2;
	}

	.about-guide .col-right {
		order: 1;
	}

	.about-guide .wrap-image {
		margin-right: 0;
	}

	.about-guide h2 {
		font-size: 38px;
	}

	.about-guide h4 {
		font-size: 18px;
	}

	.about-guide p {
		font-size: 18px;
	}

	.about-guide blockquote {
		padding: 15px 25px;
	}

	.about-coach {
		margin-top: -100px;
	}

	.about-coach h2 {
		font-size: 38px;

	}

	.about-coach p {
		font-size: 18px;

	}

	.about-secure {
		margin-top: -200px;
	}

	.about-type {
		margin-top: 70px;
	}
}
@media only screen and (max-width: 576px) and (min-width: 320px) {
	.about-info .col-6{
		margin-top: 200px;
	}
};