.search-text {
    position: absolute;
    top: 10%;
    left: 5%;
    max-width: 400;
}

.auto-complete {
    background-color: #f2f2f2;
    box-shadow: 0 20px 60px #02021e;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.auto-complete .wrap-input {
    background-color: #f2f2f2;
    padding: 1rem 1.2rem;
    font-weight: 500;
    font-size: 1rem;
}

.auto-complete .wrap-input label {
    text-transform: uppercase;
}

.auto-complete .form-input {
    display: flex;
}

.auto-complete .form-input .text-input {
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex: 1;
    border: 1px solid #e7e7e7;
    margin-top: 1px;
    border-radius: 6px 0 0 6px;
    padding: 0 1rem;
}

.auto-complete .form-input input {
    border: none;
    width: 100%;
}

.auto-complete .form-input input::placeholder {
    color: #d8d8d8;
}

.auto-complete .form-input button {
    background-color: #ff7531;
    color: white;
    border: none;
    border-radius: 0 6px 6px 0;
    padding: 1rem 1.5rem;
}

.no-suggestions {
    color: #999;
    padding: 1rem;
}

.suggestions {
    border: 1px solid #999;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    overflow-y: auto;
    padding-left: 0;
    max-width: 100%;
}

.suggestions li {
    border-top: 1px solid #bab9b9;
    display: flex;
    flex-direction: row;
}

.suggestions li a {
    width: 100%;
}

.suggestions .suggest-item {
    border-left: 5px solid rgba(247, 112, 30, 0.3);
    padding: 0.5rem 0.8rem;
    width: 100%;
}

.suggestions .suggest-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.suggestions .title-text {
    font-weight: bold;
    font-size: 1rem;
    color: black;
}

.suggestions .distance-text {
    font-size: 1rem;
    font-weight: bold;
    color: #5e5e5e;
}

.suggestions .sub-title {
    color: #1a1919;
    font-size: 1rem;
}

.suggestion-active {
    border-left: 5px solid rgba(247, 112, 30, 1);
    padding: 0.5rem 0.8rem;
    width: 100%;
}

.suggestions li:hover {
    background-color: white;
    cursor: pointer;
}

.suggestions .suggest-item:hover {
    border-left-color: rgba(247, 112, 30, 0.3);
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
    
    .search-text {
        bottom: -50px;
        top: auto;
        left: 0;
        right: 0;
        max-width: none;
    }

    .auto-complete {
        box-shadow: none;
        background-color: transparent;
    }

    .auto-complete .wrap-input {
        order: 2;
        background: linear-gradient(to bottom,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 1) 100%);
    }

    .suggestions {
        order: 1;
        margin-bottom: 310px;
        top: 8rem;
        border: none;
        display: flex;
        margin-left: 1rem;
    }

    .suggestions::-webkit-scrollbar {
        display: none;
    }

    .suggestions li {
        border: none;
        background-color: white;
        margin-right: 1rem;
        flex: 1;
        min-width: 90%;
    }

    .suggestions .suggestion-active,
    .suggestions .suggest-item {
        border: none;
    }

    .suggestions .suggest-title svg {
        display: none;
    }

    .suggestions .distance-text {
        font-weight: bold;
    }

    .map-page h2 {
        font-size: 3.5rem;
        text-align: center;
    }

    .map-page .academy {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .map-page .acade-left {
        flex: 1 1;
    }

    .map-page .acade-left a {
        flex: 0 0 100%;
    }
}