a:hover {
	cursor: pointer;
}

a.link {
	color: #FF7531;
}
.col-6:focus {
	outline: none;
}

.hidden {
	display: none;
}

.list-form .react-datepicker-wrapper {
	display: block;
}

.input-error {
	color: red;
}

.book_your_child_free_session .container {
	z-index: 0;
}

.box-pin .box .btn-pin {
	z-index: 0;
	cursor: pointer;
}

.banner-top {
	padding-top: 160px;
}

.banner-top h1 {
	font-size: 5rem;
	line-height: 6.5rem;
	color: white;
	margin-right: 300px;
}

.box-football-beginning .box-beginning-list .list .item .title {
	height: 65px;
}

.box-football-beginning .box-beginning-list .list .item .img {
	max-height: 135px;
}

.tooltip {
	width: 300px;
	padding-bottom: 15px;
	position: absolute;
	white-space: nowrap;
	word-wrap: nowrap;
	top: 60px;
	right: 0%;
	font-size: 0.9em;
	z-index: 10;
}

.tooltip::after {
	content: '';
	position: absolute;
	display: block;
	width: 15px;
	height: 15px;
	transform-origin: 50% 50%;
	transform: rotate(45deg) translateX(-50%);
	background-color: #fff;
	left: 80%;
	top: -1px;
	z-index: 400;
}

.tooltip::before {
	content: '';
	display: block;
	position: absolute;
	width: 15px;
	height: 15px;
	transform-origin: 50% 50%;
	transform: rotate(45deg) translateX(-50%) translateZ(-1px);
	background-color: #fff;
	left: 80%;
	top: 0px;
	z-index: -1;
	box-shadow: -1px -1px 20px #aaa;
}

.tooltip .wrap {
	background-color: #fff;
	box-shadow: 1px 1px 20px #aaa;
	padding: 0 15px 1px;
	border-radius: 5px;
	width: 100%;
	white-space: normal;
	position: relative;
}

.tooltip .wrap .wraphead {
	display: flex;
	flex-direction: row;
}

.tooltip .wrap .wraphead h3 {
	flex: 1;
	font-size: 1.1em;
}

.tooltip .wrap .wraphead .name {
	color: #ee7925;
}

.tooltip .wrap .wraphead a {
	margin-top: 0.8em;
	margin-left: 0.5em;
}

.tooltip .wrap .close {
	position: absolute;
	text-align: right;
	right: 0;
	top: 0;
	padding: 0;
}

.tooltip .wrap .wrapcontent {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.tooltip .wrap button,
.tooltip .wrap button:hover,
.tooltip .wrap button:focus,
.tooltip .wrap button:active {
	outline: none;
	box-shadow: none;
	border-style: solid;
}

.tooltip .wrap button {
	padding: 5px 8px;
	text-transform: uppercase;
	font-weight: 500;
	border-radius: 4px;
	cursor: pointer;
}

.tooltip .wrap button:first-child {
	background-color: #ee7925;
	color: #fff;
	border: none;
	padding: 8px 20px;
}

.tooltip .wrap button:last-child {
	color: #ee7925;
	background-color: transparent;
	border-color: #ee7925;
	border-width: 1px;
}

.list-academy .wrap-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.list-academy h2 {
	padding-top: 2rem;
}

.list-academy .wrap-row p {
	margin: 0;
}

.list-academy b {
	margin: 0;
	text-align: left;
	font-size: 1rem;
}

.list-academy hr {
	margin-top: 0.8rem;
	width: 100%;
}

.map-frame {
	height: 700px;
	width: 100%;
	background-color: grey;
	position: relative;
}

.map-page {
	padding: 5rem 0;
}

.map-page h2 {
	font-size: 5rem;
}

.map-page .academy {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.map-page .acade-left {
	flex: 4;
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
}

.map-page h3 {
	flex: 0 0 100%;
	color: #ff6b00;
	font-size: 1.1rem;
	text-transform: uppercase;
}

.map-page .acade-left a {
	flex: 0 0 25%;
	line-height: 2.5rem;
	color: #1A1919;
}

.map-page .acade-right {
	flex: 1;
	flex-direction: column;
}

.map-page .acade-right a {
	display: block;
	line-height: 2.5rem;
	color: #000000;
}

.weekly .box-slide .slick-arrow {
	border-color: #5a5a5a;
}

.weekly .box-slide .slick-prev {
	background: url(../images/icon-prev-grey.png) no-repeat center center;
	color: #5a5a5a;
}

.weekly .box-slide .slick-next {
	background: url(../images/icon-next-grey.png) no-repeat 110px center;
	color: #5a5a5a;
}

@media only screen and (max-width: 1200px) and (min-width: 1000px) {
	.banner-top h1 {
		font-size: 3.5rem;
		line-height: 4.5rem;
		margin-right: 100px;
		padding-left: 70px;
		margin-top: 0;
	}

	.banner-top .box-text {
		margin-top: 0;
	}
}

@media only screen and (max-width: 1000px) and (min-width: 768px) {
	.banner-top {
		padding-top: 0;
		background-size: cover;
	}

	.banner-top h1 {
		font-size: 3.5rem;
		line-height: 4.5rem;
		margin-right: 100px;
		padding-left: 70px;
		margin-top: 40px;
	}

}

@media only screen and (max-width: 767px) and (min-width: 320px) {
	.banner-top {
		padding-top: 0;
	}

	.banner-top h1 {
		font-size: 3.5rem;
		line-height: 4.5rem;
		margin-right: 0;
		margin-bottom: 180px;
	}

	.list-item-card-2 .item {
		padding: 40px 40px 50px 40px;
		text-align: center;
	}

	.box-professional .list-item .col-6 {
		width: 50%;
	}

	.tooltip .wrap {
		bottom: 300px;
	}

	.tooltip::before {
		top: -86px;
	}

	.tooltip::after {
		top: -86px;
	}

}