.error {
	width: 100%;
	display: inline-block;
	height: 1053px;
	background: url(../images/hs_photo_pc.jpg) no-repeat center center #fff;
	padding-top: 455px;
}

.error .container {
	position: relative;
}

.error .box-text {
	max-width: 610px;
	width: 100%;
	display: inline-block;
	font-weight: normal;
	font-size: 32px;
	line-height: 46px;
	color: #FFFFFF;
}

.error .box-text p {
	margin-top: 0;
	margin-bottom: 70px;
}

/* .error .box-text .btn-book {
	background: #FF7531;
	border-radius: 6px;
	width: 350px;
	display: inline-block;
	height: 70px;
	line-height: 70px;
	font-weight: 500;
	font-size: 16px;
	text-align: center;
	letter-spacing: 1.71429px;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;

} */

.error .box-text button.btn-book {
	line-height: normal;
}