a,div,img,button {
  transition: 0.3s;
}

.menu-link a:hover, .list a:hover, .menu-ft a:hover{
  color:#EE7925 !important
}

.login a:hover{
  color: white !important;
  background-color: #EE7925 !important;
}

.menu-small .custom-select .select-selected:hover{
  -webkit-box-shadow: -2px 2px 2px 0px rgba(204,204,204,1);
  -moz-box-shadow: -2px 2px 2px 0px rgba(204,204,204,1);
  box-shadow: -2px 2px 2px 0px rgba(204,204,204,1);
}

.list .custom-select .select-selected:hover{
  border:1px solid #EE7925;
}

.footer .Social .icon-fb:hover {
	background: url(../images/icon-fb-white.png) no-repeat left center transparent !important;
}

.footer .Social .icon-lin:hover {
	background: url(../images/icon-lin-white.png) no-repeat left center transparent !important;
}

.footer .Social .icon-wt:hover {
	background: url(../images/icon-wt-white.png) no-repeat left center transparent !important;
}

.academy-info .group-info img:hover{
  transform: scale(1.2);
}

.more:hover, .btn-about:hover ,.border-btn:hover{
  background-color: #EE7925 !important;
  color: white !important;
}

/* turn white button to orange */
.more:hover,.btn-about:hover,.slick-prev:hover,.slick-next:hover {
  color: white !important;
  background-color: #EE7925 !important;
}

.qna-contact button:hover{
  color: white !important;
  background-color: #EE7925 !important;
}

/* turn orange button to white */
.btn-button-s:hover{
  color: #EE7925 !important;
  background-color: white !important;
}

.white-hover:hover {
  color: #EE7925 !important;
  background-color: #F2F2F2 !important;
}

/* button banner hover */
/* .btn-book-free-session:hover{
  color: #EE7925 !important;
  background-color: white !important;
  position: relative;
  
}
 .box-button:hover{
  color: #EE7925 !important;
  background-color: white !important;
} */
/* .article-menu li a:visited{
  color: #EE7925 !important;
} */

