.about-us {
	position: relative;
	overflow: hidden;
	background-color: #f2f2f2;
	min-height: 600px;
	margin-top: 110px;
}

.about-us .row .col-6 img {
	height: 837px;
    width: 100%;
    object-fit: cover;
}

.about-us .about-us-content {
	position: absolute;
	top: 50px;
	width: 100%
}

.about-us .about-us-content .get-in-touch .list-form {
	width: 500px;
}



.about-info .row {
	overflow: hidden;
}

.about-info .col-6 {
	background-color: white;
	padding: 25px 100px 40px;
}

.about-info .col-6:last-child {
	padding-left: 0;
}

/* .about-info  {
	color: #ef9042;
	font-size: 45px;
} */

.about-info  .about-info-header{
	color: #ef9042;
	font-size: 45px;
	margin-bottom: 0;
}

.about-info p {
	font-size: 20px;
	color: #5a5a5a;
	clear: both;
	text-align: center;
}

.about-info hr {
	height: 2px;
	width: 95px;
	background-color: #ef9042;
	float: left;
	border: 0;
}

.about-guide .wrap-guide {
	flex-direction: row;
	display: flex;
	padding-bottom: 125px;
}

.about-guide .col-left {
	flex: 1.3;
}

.about-guide .col-right {
	flex: 2;
}

.about-guide .wrap-image {
	margin-right: 100px;
}

.about-guide .wrap-image img {
	width: 100%;
    /* max-height: 521px; */
    object-fit: contain
}

.about-guide h2 {
	font-size: 75px;
}

.about-guide h4 {
	font-size: 24px;
	margin-top: 0%;
}

.about-guide p {
	font-size: 24px;
	/* margin-top: 0; */
}

.about-guide blockquote {
	background-color: #f2f2f2;
	margin: 0;
	padding: 30px 50px;
	font-size: 18px;
}

.about-coach {
	overflow: hidden;
	padding-top: 50px;
	padding-bottom: 180px;
	background-color: #EF9042;
}

.about-coach h2 {
	font-size: 75px;
	color: #fff;
}

.about-coach p {
	font-size: 24px;
	color: #fff;
	float: right;
	max-width: 667px;
	margin-top: 0;
	/* margin-bottom: 70px; */
}

.about-coach .right {
	/* font-size: 24px;
	color: #fff; */
	float: right;
	max-width: 667px;
	
}

.about-coach .btn-right {
	text-transform: uppercase;
    font-weight: normal;
    font-size: 17px;
    text-align: center;
    color: #EE7925;
    background: #FFFFFF;
    border: 1px solid #EE7925;
    border-radius: 5px;
    width: 75px;
    padding: 20px 100px;
    margin-top: 15px;
}

.about-type .type-anchor {
	margin-top: 240px;
	padding-bottom: 100px;
}

.truspilot-big {
	margin-top: 60px;
	width: 70%;
}

@media (max-width: 1200px){
	.about-contact-header{
		margin:50px 0px;
	}
}
@media (max-width: 767px){
	.about-contact-header{
		margin:50px 0;
	}
}

@media only screen and (max-width: 1300px) and (min-width: 768px) {
	.about-info {
		margin-top: 10px;
	}
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
	.about-us {
		overflow: visible;
		margin-top: -18px;
	}

	.about-us .about-us-content .get-in-touch {
		/* margin-top: 200px; */
		position: relative;
		top: 235px;
		border-radius: 6px;
		background-color: white;
		box-shadow: 0 20px 60px rgba(2, 2, 30, 0.09);
		z-index: 1;
	}

	.about-us .about-us-content .get-in-touch .list-form {
		width: 100%;
		padding: 25px 25px 0;
	}

	.about-us .about-us-content .get-in-touch .list-form .pro-sub-text {
		text-align: center;
		font-size: 18px;
	}


	.about-us .truspilot-big {
		height: 120px;
		margin-left: 90px;
		margin-top: 20px;
		width: 100%;
	}

	.about-us .row .col-6 img {
		height: 600px;
	}

	.get-in-touch .about {
		padding: 30px;
	}

	.about-info {
		margin-top: 190px;
	}

	.about-info .wrap-info {
		overflow: visible;
		border: none !important;
		box-shadow: none !important;
		padding: 15px;
	}

	.about-info .wrap-info {
		overflow: hidden;
		border-radius: 6px;
		box-shadow: 0 20px 60px rgb(2 2 30 / 9%)
	}

	.about-info  .about-info-header{
		font-size: 32px;
		margin: 0;
	}

	.about-info .col-6 {
		padding: 15px;
		background-color: transparent;
	}

	.about-info .col-6:last-child {
		padding-left: 15px;
	}

	.about-guide .wrap-guide {
		flex-direction: column;
		padding: 0 15px;
	}

	.about-guide .col-left {
		order: 2;
	}

	.about-guide .col-right {
		order: 1;
	}

	.about-guide .wrap-image {
		margin-right: 0;
		margin-top: 35px;
	}

	.about-guide h2 {
		font-size: 38px;
	}

	.about-guide h4 {
		font-size: 18px;
	}

	.about-guide p {
		font-size: 18px;
	}

	.about-guide blockquote {
		padding: 15px 25px;
	}

	.about-coach {
		margin-top: -100px;
	}

	.about-coach h2 {
		font-size: 38px;

	}

	.about-coach p {
		font-size: 18px;

	}

	.about-secure {
		margin-top: -200px;
	}

	.about-type {
		margin-top: 70px;
	}
}
@media only screen and (max-width: 576px) and (min-width: 320px) {
	.about-info .col-6{
		margin-top: 200px;
	}

	.about-coach .btn-right {
		padding: 15px 25px;
	}
};