.article-menu {
    background-color: #F2F2F2;
    overflow: hidden;
    margin-top: 110px;
}

.article-menu ul {
    float: left;
    margin: 0;
    padding: 20px 0;
    width: 90%;
}

.article-menu li {
    float: left;
    font-size: 16px;
    color: #2E2D2D;
    line-height: 32px;
    list-style: none;
}

.article-menu li:not(:last-child)  {
    padding-right: 30px;
}

.article-menu li a {
    color: #2E2D2D;
}

.article-menu li.active {
    color: #EE7925;
}

.article-menu li.active a{
    color: #EE7925;
}

.article-menu .search {
    float: right;
    padding: 25px 15px;
}

.article-feature {
    height: 500px;
    padding: 100px;
}

.article-feature h4 {
    font-size: 24px;
    font-weight: 500;
    color: #FFF;
    margin-top: 0;
}

.article-feature h2 {
    font-size: 60px;
    max-width: 770px;
    color: #FFF;
    margin-top: 0;
}

.article-list .article-item {
    background-color: #fff;
    box-shadow: 0 20px 60px rgba(2, 2, 30, 0.09);
    margin-bottom: 55px;
}

.article-list .title {
    color: #1A1919;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    padding: 30px;
    margin: 0;
    display: block;
    /* max-height: 150px; */
}

.article-list h2 {
    color: #5A5A5A;
    font-size: 45px;
    text-align: center;
}

.article-list h6 {
    font-size: 18px;
    color: #1A1919;
    text-align: center;
    font-weight: normal;
    margin-bottom: 0;
}

.article-list .article-list-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
}

.view-all {
    padding: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.article-detail .article-content {
    padding: 30px 0;
}

.article-detail .article-sharing {
    position: absolute;
    left: -100px;
    top: 50px
}

.article-detail .article-sharing img {
    display: block;
    margin-bottom: 40px
}
.article-menu .form-input{
    width:100%;
    position: fixed;
    top: 0px;
    z-index:1000;
    justify-content: center;
    background-color: #edededb8;
}

.article-menu .form-input .search-box{
    margin: 120px auto;
}
.article-menu .form-input button {
    background-color: #ee7925;
    color: white;
    border: none;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    height: 50px;
}
.article-menu .form-input input::placeholder {
    color: #d8d8d8;
}
.article-menu .form-input input {
    flex: 1 1;
    border: 1px solid #e7e7e7;
    border-radius: 6px 0 0 6px;
    padding-left: 1rem;
    height: 50px;
}

.article-menu .form-input > div {
    width: 100%;
    min-height: 200px;
    background-color: white;
    justify-content: center;
    -webkit-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.75);
box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.75);
}

.article-menu .form-input .overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: -1;
}



@media only screen and (max-width: 767px) and (min-width: 320px) {
.article-menu{
    margin-top: 0;
}

.article-feature {
    padding: 15px;
}

.article-feature h2 {
    font-size: 38px;
     max-width: 100%;
}

.article-list .article-list-grid{
    display: flex;
    flex-direction: column;
}


.article-list .title {
    font-size: 16px;
}

}

@media (max-width: 576px){
    .article-menu ul{
        width: 85%
    }
    .header{
        height: 0px;
    }
}
@media (max-width: 350px){
    .article-menu .form-input input{
        width: 180px;
    }
}