.birthday-gallery {
    position: relative;
}

.birthday-gallery::before {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    background: #ef9042;
    height: 660px;
}

.birthday-gallery .box-professional {
    padding-top: 85px;
}

.birthday-booking .book_your_child_free_session {
    margin-top: 60px;
}

@media only screen and (max-width: 768px) and (min-width: 320px) { 
    .qoute-birthday .about-info{
        margin-top: 105px;
    }

    .football-birthday  {
        margin-top: 75px;
    }

    .football-birthday .box-football-beginning {
        padding: 0;
    }

    .birthday-gallery .box-professional {
        padding-top: 85px;
    }
    /* .package-birthday  */
    .birthday-gallery {
        position: relative;
    }
    
    .birthday-gallery::before {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        content: '';
        background: #ef9042;
        height: 600px;
    }
    
    .faq-birthday .qa {
        margin: 65px 0;
    }

}