.banner-franchise .banner {
    display: flex;
}

.banner-franchise .banner .banner_left {
    width: 65%;
}

.banner-franchise .banner .banner_left h1 {
    margin-right: 0;
    font-size: 4rem;
}

.banner-franchise .banner .banner_right {
    width: 35%;
    padding-top: 50px;
}

.banner-franchise .banner .banner_right .banner_right_box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ee7925;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    padding: 30px;
}
.contact-book__bannertop {
    font-size: 1rem;
}
.banner-franchise .banner .banner_right .banner_right_box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ee7925;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    padding: 30px;
}

.banner .banner_right .banner_right_box {
    display: flex;
    flex-direction: column;
}

.banner .banner_right .banner_right_box .box_title {
    flex: 1;
    border-bottom: 1px solid white;
    width: 100%;
    color: white;
}

.banner .banner_right .banner_right_box .box_title .title {
    font-size: 40px;
}

.banner .banner_right .banner_right_box .box_title .sub_title {
    font-size: 24px;
    margin-bottom: 0;
}

.sub_title {
    font-weight: 500;
}

.banner .banner_right .banner_right_box .box_contact {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.box_contact.isMobile > button{
    margin-top: 1rem;
}

.franchise-review {
    width: 100%;
    display: inline-block;
    /* margin-top: 240px; */
    /* min-height: 250px; */
    position: relative;
}

.franchise-review::before {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    background: #ef9042;
    height: 1320px;
}

.franchise-review .box-slide-review {
    margin-top: 50px;
}

.training {
    background: white;
    padding: 120px 0px 0px 0px;
    min-height: 450px;
}
.training .heading {
    color: black;
    max-width: 1150px;
}
.box-reasons .nav-tabs {
    padding-right: 100px;
}

.training-service .nav-tabs li {
    border: 1px solid #5a5a5a;
    border-top: transparent;
    position: relative;
    padding: 37px;
}
.training-service .nav-tabs a {
    transform: scale(1);
    transition: transform 700ms ease-out;
}

.training-service .nav-tabs .active a {
    font-weight: bold;
    transform: scale(1.1);
    transition: transform 700ms ease-in-out;
    color: #ef9042;
}

.training-service li:first-child {
    border-top: 1px solid #5a5a5a;
    border-radius: 6px 0 0 0;
}
.training-service li:last-child {
    border-radius: 0 0 0 6px;
}
.training-service li.active {
    border-color: #ef9042;
}
.training-service .right-arrow {
    border: 1px solid #ee7925;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -20px;
    top: calc(50% - 20px);
    background-color: white;
}
.rotate180degIcon{
    transform: rotate(180deg);
}
.training-service .nav-tabs li a {
    padding-left: 0;
}
.training-service .nav-tabs li a img {
    margin-right: 20px;
}
.coach .col-8 p {
    padding: 0 6rem;
    color: #1a1919;
    /* line-height: 28px; */
}

.coach .col-4 img {
    background: linear-gradient(180deg, #fff 23%, #f0f0f0 20%);
}

.coach-head {
    background-color: #f2f2f2;
    padding: 3rem 15% 16rem;
}

.coach-head h2 {
    text-align: center;
    font-size: 5rem;
    margin-right: 30px;
    margin-left: 30px;
}
.coach-list {
    background-color: #ef9042;
    width: 100%;
}
.coach-list .sub-list {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding-bottom: 100px;
}
.coach-list .rsub-list {
    /* overflow-y: hidden;
    overflow-x: scroll; */
    width: 100%;
    display: inline-block;
    margin-top: -150px;
}
.coach-list .coach-item {
    width: 20%;
    float: left;
    padding: 0 0.75rem;
}
.coach-image {
    background: radial-gradient(
        circle,
        rgba(196, 200, 201, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    border-radius: 6px 6px 0 0;
    display: flex;
    justify-content: center;
}
.coach-info {
    border-left: 1px solid white;
    padding-left: 19px;
}
.coach-info .position {
    font-size: 1rem;
    color: white;
    margin-bottom: 0;
}
.coach-info .name {
    font-style: 500;
    color: white;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}
.academy-info {
    display: flex;
    flex-direction: row;
    position: relative;
    top: -120px;
}
.academy-info .group-info {
    display: flex;
    flex: 1;
    background-color: white;
    border-radius: 6px;
    padding: 30px 25px;
    box-shadow: 0px 20px 60px rgba(2, 2, 30, 0.088833);
}
.academy-info .group-info:first-child {
    margin-right: 1rem;
}
.academy-info .group-info:last-child {
    margin-left: 1rem;
}
.group-info .group-name {
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 1rem;
    color: #1a1919;
    margin-top: 0.2rem;
}
.group-info .appendix {
    color: rgba(26, 25, 25, 0.4);
    font-size: 0.75rem;
}
.group-info .text-express {
    font-size: 1.125rem;
    color: rgba(26, 25, 25, 0.7);
    margin: 0;
    padding-top: 0.5rem;
}
.group-info .text-express-enquiry {
    font-size: 1.125rem;
    color: rgba(255, 113, 0, 0.7);
    margin: 0;
    padding-top: 0.5rem;
    text-decoration: underline;
}
.group-info a.phone {
    color: rgba(255, 113, 0, 0.7);
    font-size: 1.125rem;
    font-weight: bold;
}
.group-info img {
    margin-right: 2rem;
    margin-top: 1.5rem;
}
.service-mobile {
    padding: 4rem 1rem;
    padding-bottom: 0;
}
.service-mobile h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #1a1919;
    text-align: center;
}
.service-mobile .service-group {
    padding-top: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #1a1919;
    padding-bottom: 2rem;
}

.service-group.borderLine{
    border-top: 2px solid #EE7925;
}
.service-group.borderLine:last-child{
    border-bottom: 2px solid #EE7925;
}
.service-mobile .service-group .textAlign{
    text-align: center;
}
.service-mobile .service-group .textAlign>img{
    width: 48px;
}
.service-mobile .service-group .textAlign>span{
    font-size: 32px;
}
.service-mobile .service-group .service-group-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-mobile .service-group .service-group-title >img{
    width: 64px!important;
}
.service-mobile .service-group .service-group-title .service-group-title-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.service-group-title-text>div>div{
    cursor: pointer;
}

.service-mobile .service-group img {
    margin-right: 1.5rem;
}
.service-mobile .service-group p {
    font-size: 1.125rem;
    font-weight: normal;
    color: rgba(26, 25, 25, 0.7);
}
.service-mobile .service-group a {
    font-size: 1.125rem;
    font-weight: normal;
    color: #ee7925;
    text-decoration: underline;
}
.qa {
    margin-bottom: 8rem;
}
.qa h2 {
    font-size: 4.5rem;
    font-weight: bold;
    color: #1a1919;
    text-align: left;
}
.qItem {
    border: 1px solid #5a5a5a;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
    cursor: pointer;
}
.qItem .qId {
    padding: 1.5rem 3rem;
    font-weight: bold;
    font-size: 1.5rem;
}
.qItem .qContent {
    flex: 1;
    border-left: 1px solid #5a5a5a;
    padding: 1.5rem;
    font-size: 1.5rem;
}
.qItem .qContent .question {
    margin-top: 0;
    margin-bottom: 0;
    /* text-transform: uppercase; */
}

.qItem .answer {
    display: none;
    margin-bottom: 0;
    font-size: 1.125rem;
    color: rgba(26, 25, 25, 0.7);
}
.qa .active {
    border-color: #ff7531;
}
.qa .active .qContent {
    border-left-color: #ff7531;
}
.qa .active .answer {
    display: block;
    /* text-transform: uppercase; */
}

.qItem .qIcon {
    padding: 2rem 3rem;
    align-self: center;
}
.qItem .qIcon svg {
    color: #ee7925;
    font-size: 1.25rem;
    border: 2px solid #ee7925;
    border-radius: 50%;
    padding: 2px;
    width: 20px;
}
.areas {
    background-color: #f2f2f2;
    padding: 8rem 0;
}
.area-cover {
    margin-bottom: 4rem;
}
.areas h2 {
    font-size: 2.8rem;
    color: #1a1919;
}
.areas h3 {
    font-size: 1.5rem;
    color: #1a1919;
}
.areas a {
    font-size: 1.125rem;
    /* font-weight: normal; */
    color: #ee7925;
    text-decoration: underline;
}

.area-cover .list-tag {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.area-cover .cover-tag {
    border: 1px solid #ff7100;
    border-radius: 20px;
    margin-right: 1rem;
    padding: 0.5rem 1.5rem;
    font-size: 1.125rem;
    color: #ff7100;
    background-color: white;
    margin-bottom: 1rem;
    text-decoration: none;
}
.related-areas {
    display: flex;
    flex-direction: row;
}
.other-academy {
    flex: 2;
}
.rList-academy {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    overflow-x: auto;
    max-width: 700px;
}

.rList-academy::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    border-radius: 10px;
    /*background-color: #F5F5F5;*/
}

.rList-academy::-webkit-scrollbar {
    background-color: transparent;
    height: 5px;
}
.rList-academy::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3); */
    background-color: #ff7100;
}
.rAcademy {
    margin-right: 1.8rem;
    position: relative;

    background-color: white;
    /* max-width: 10rem; */
}
.rAcademy img {
    border-radius: 6px 6px 0 0;
    /* width: 100%; */
    min-width: 300px;
}

.rAcademy a {
    color: black;
}

.rAcademy a:hover {
    color: #ff7100;
}

.rAcademy p {
    margin: 0;
    padding: 1rem;
    /* font-size: 1.5rem; */
    background-color: rgba(255, 255, 255, 0.85);
    min-width: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.latest-news {
    flex: 1;
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rNews img {
    border-radius: 6px 6px 0 0;
    width: 100%;
}
.rNews .rTitle {
    font-size: 1rem;
    color: #5a5a5a;
}
.rNews .rSapo {
    font-size: 1.125rem;
    font-weight: 500;
    color: #1a1919;
}

.franchise-servive {
    margin-top: -170px;
}

.franchise-servive .classRow {
    padding-bottom: 0;
    cursor: initial;
}

.classRowItem {
    padding-bottom: 0;
    cursor: initial;
}

.franchise-servive .classRowSecond {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    /* cursor: pointer; */
}

.classRowSecondItem {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
}

@media only screen and (max-width: 1000px) {
    .coach-list .fix-width {
        width: 1100px;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 768px) {
    .academy-info {
        margin-top: 50px;
        top: 0;
        flex-direction: column;
    }
    .academy-info > .group-info{
        margin: 0!important;
        margin-bottom: 1.5rem!important;
    }
    .container.banner{
        flex-direction: column;
    }
    .banner-franchise .banner .banner_left{
        margin-top: 50px;
    }
    .banner-franchise .banner .banner_left h1{
        padding-left: 0;
    }
    .banner-franchise .banner .banner_left .box-text{
        padding-left: 0;
        margin-bottom: 1rem;
    }

    .banner-franchise .banner .banner_left,
    .banner-franchise .banner .banner_right{
        width: 100%;
    }
    .banner-franchise .banner .banner_right .box_title{
        margin-bottom: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .banner-franchise .banner .banner_right .box_contact button{
        margin-bottom: 1rem;
    }
    
    .coach-list .rsub-list{
        overflow-y: hidden;
        overflow-x: scroll;
    }

}
@media only screen and (max-width:402px) {
    .academy-info{
        margin-top: 370px!important;
    }
}
@media only screen and (max-width: 768px) and (min-width: 319px) {
    .banner-franchise .banner-top .box-text {
        margin-top: 130px;
    }

    .coach-list .rsub-list {
        overflow-y: hidden;
        overflow-x: scroll;
    }

    .academy-info {
        margin-top: 250px;
        display: flow-root;
        /* margin-bottom: 200px; */
    }
    .academy-info .group-info {
        box-shadow: none;
        background-color: transparent;
        margin-left: 0;
        margin-right: 0;
    }
    .coach .col-4 {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .coach .col-8 {
        width: 100%;
    }
    .coach .col-8 p {
        padding: 0;
    }
    .coach-head {
        padding-left: 0;
        padding-right: 0;
    }

    .coach-head h2 {
        font-size: 38px;
    }
    .qa h2 {
        font-size: 2.375rem;
        text-align: center;
    }
    .qItem .qId {
        display: none;
    }
    .qItem .qContent {
        border-left: none;
    }
    .qItem .qIcon {
        display: none;
    }
    .areas {
        padding: 2rem 0;
    }
    .areas h2 {
        text-align: center;
        font-size: 38px;
    }
    .area-cover {
        margin-bottom: 0;
    }
    .related-areas {
        flex-direction: column;
    }
    .rList-academy {
        flex-direction: column;
    }
    .rAcademy {
        margin-right: 0;
        margin-bottom: 1rem;
    }
    .latest-news {
        margin-left: 0;
    }

    .group-info img {
        margin-right: 0.2rem;
    }

    .banner-franchise .academy-info {
        text-align: left;
    }

    .banner-franchise .academy-info .group-info {
        display: initial;
        padding: 0;
        margin: 0 !important;
    }

    .banner-franchise .academy-info .group-info:first-child .wrap-contact {
        margin-bottom: 40px;
    }

    .banner-franchise .academy-info .group-info:first-child .wrap-contact a {
        margin: 0 !important;
    }

    .banner-franchise .academy-info .group-info:first-child p {
        margin: 13px 0 !important;
    }

    .banner-franchise .academy-info .group-info:last-child .social a {
        margin-right: 15px !important;
    }

    .franchise-review::before {
        width: 100%;
        position: absolute;
        left: 0;
        top: 1160px;
        content: '';
        background: #ef9042;
        height: 1550px;
    }

    .franchise-review .box-slide-review {
        margin-top: -120px;
    }

    .franchise-servive .service-mobile .service-group .classRow {
        flex-direction: row;
    }

    .franchise-reason .training {
        padding: 0;
    }

    .franchise-reason .box-football-beginning .heading {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .franchise-reason .box-football-beginning .box-beginning-list .list {
        height: 500px;
    }

    .academy-info .group-info:last-child {
        margin-left: 0px;
    }

    .academy-info .group-info:first-child {
        margin-right: 0px;
    }

    .coaching-franchise .box-list-item-card {
        padding-top: 75px !important;
        padding-bottom: 0 !important;
    }

    .intro-franchise .box-list-item-card {
        top: 75px !important;
    }
}
