.about-info-holiday {
    margin-top: -65px;
}

.about-secure-holiday {
    margin-top: 200px;
}

.camp-review {
    width: 100%;
    display: inline-block;
    position: relative;
}

.camp-review::before {
    width: 100%;
    position: absolute;
    left: 0;
    top: 770px;
    content: '';
    background: #ef9042;
    height: 1018px;
}

.camp-review .box-slide-review {
    margin-top: 70px;
}

.about-info-holiday .about-info .wrap-info {
    max-width: 700px;
    margin: auto;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 20px 60px rgba(2, 2, 30, 0.09);
    position: relative;
    background-color: white;
    padding: 50px;
}

.about-info-holiday .about-info .wrap-info .about-info-content {
    position: relative;
    background-size: white;
}

.about-info-holiday .about-info .wrap-info .about-info-title {
    text-align: center;
}

.about-info-holiday .about-info .wrap-info .btn-book-free-session {
    width: 205px;
}

.about-camp-holiday .training-include .slide-control {
    position: absolute;
    left: 395px !important;
}

@media only screen and (max-width: 768px) and (min-width: 320px) {
    .about-info-holiday .about-info {
        margin-top: 150px;
    }

    .about-info-holiday .classRow p {
        text-align: center;
    }

    .about-secure-holiday {
        margin-top: 300px;
    }

    .about-secure-holiday .list-intro-item {
        background-color: #f2f2f2;
        box-shadow: none;
    }

    .about-info-holiday .about-info .wrap-info .about-info-title {
        text-align: left;
    }

    .about-info-holiday .about-info .wrap-info .btn-book-free-session {
        width: 100%;
    }

    .about-camp-holiday .training-include .slide-control {
        position: absolute;
        left: 0 !important;
    }

    .camp-review {
        width: 100%;
        display: inline-block;
        position: relative;
        background-color: #fff;
    }

    .camp-review::before {
        width: 100%;
        position: absolute;
        left: 0;
        top: 655px;
        content: '';
        background: #ef9042;
        height: 645px;
    }

    .camp-review .training-include {
        margin-top: -140px;
    }

    .football-holiday {
        margin-top: 75px;
    }

    .football-holiday .box-football-beginning {
        padding: 0;
    }

    .camp-review .box-slide-review {
        padding-top: 0;
    }
}
