.intro-homepage .box-list-item-card{
    margin-top: 20px;
}

.homepage-gallery {
    margin-top: 105px
}

.fb-begin-homepage .box-football-beginning {
    padding-bottom: 60px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .intro-homepage {
        margin-top: 70px;
    }

    .whatwedo  {
        margin-top: 50px;
    }

    .whatwedo .box-bg-orange:before {
        height: 2270px;
    }

    .intro-homepage .intro-joinus {top:0;}

    .whatwedo .heading-w {
        margin-top: 0;
    }

    .homepage-gallery {
        margin-top: 50px
    }

 }
