.tab-1 .btn-submit {
    background: #FF7531;
    border-radius: 6px;
    width: 390px;
    display: inline-block;
    height: 70px;
    line-height: 70px;
    border: 0;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 1.71429px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.textArea {
    resize: none;
    background: #FFFFFF;
	border: 1px solid #E7E7E7;
	border-radius: 6px;
	color: rgba(0, 0, 0, 1);
	padding: 17px 30px;
	cursor: pointer;
	height: 200px;
	line-height: 31px;
	/* padding-right: 95px; */
	font-weight: normal;
	font-size: 24px;
	width: 100%;
    display: inline-block;
}

.attach-file {
    border: 1px solid #E7E7E7;
	border-radius: 6px;
    display: block;
    width: 120px;
    height: 70px;
    background: #FF7531;
    cursor: pointer;
}

.intro-joinus {
    top: -80px;
}

.enquire-joinus {
    margin-bottom: 120px;
}

.enquire-joinus .content {
    margin-bottom: 3rem;
    font-size: 22px;
}

.enquire-joinus .title {
    font-size: 45px;
    margin: 0 auto;
    max-width: 700;
}

.coaching {
    margin-top: 110px;
}


.about-coach-joinus .about-coach {
    padding-bottom: 200px;
}

.about-secure-joinus {  
    height: 400px;
}

.about-secure-joinus .box-list-item-card {
    top: -225px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .coaching {
        margin-top: 0;
    }


    .tab-1 .btn-submit{
        width: 340px;
    }

    /* .bannerBox-joinus {
        margin-top: 90px;
    } */

    .bannerBox-joinus .list-form{
        text-align: center;
    }

    .bannerBox-joinus .pro-text {
        font-size: 20px !important;
    }

    .bannerBox-joinus .list-form {
        padding-bottom: 25px !important;
    }

    .enquire-joinus {
        margin-bottom:0;
        margin-top: 1060px;
    }

    .intro-joinus {
        top: 185px;
    }

    .about-type-joinus {
        margin-top: 225px;
    }

    .about-type-joinus .list-item-card-2 .item .img {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .about-secure-joinus {
        margin-top: 200px;
    }


    .about-coach-joinus .about-coach .btn-right {
		padding: 15px 104px !important;
	}

    .enquire-joinus .title{
        font-size: 32px;
    }

    .enquire-joinus .content {
        font-size: 22px;
    }

    .enquire-joinus .content br{
        display: none;
    }


}
