.location-modal {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in;
    overflow-y: scroll;
}

.modal-content {
    position: relative;
    background-color: #f2f2f2;
    margin: 30px auto;
    max-width: 920px;
    border-radius: 4px;
}

.modal-content .wrap-course{
    border: 1px solid #EE7925;
    border-bottom: 1px solid transparent;
}

.modal-content .wrap-course:last-child{
    border-bottom: 1px solid #EE7925;
}

.modal-content .wrap-row {
    padding: 0 5rem;
}

.modal-content .close {
    position: absolute;
    right: -50px;
    background-color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 50%;
}

.modal-content h2 {
    font-weight: bold;
    text-align: center;
    padding-top: 5rem;
    font-size: 2.7rem;
}

.modal-content .current-location {
    color: #ee7925;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    font-size: 0.9rem;
    padding: 2rem 0 1rem;
}

.modal-content .form-input {
    display: flex;
}

.modal-content .form-input input {
    flex: 1;
    border: 1px solid #e7e7e7;
    margin-top: 1px;
    border-radius: 6px 0 0 6px;
    padding-left: 1rem;
}

.modal-content .form-input input::placeholder {
    color: #d8d8d8;
}

.modal-content .form-input button {
    background-color: #ee7925;
    color: white;
    border: none;
    border-radius: 0 6px 6px 0;
    padding: 1rem 1.5rem;
    cursor: pointer;
}

.modal-content .label-find {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #1a1919;
}

.modal-content b {
    text-align: center;
    display: block;
    margin: 3rem auto;
    font-size: 1.4rem;
}

.modal-content hr {
    color: #1a1919;
    margin-top: 4rem;
}

.modal-content .list-acade {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5rem;
}

.modal-content .list-acade a {
    flex: 0 0 25%;
    font-size: 0.9rem;
    line-height: 1rem;
    color: #1a1919;
    margin-bottom: 11px;
    min-height: 30px;
}

.modal-content .list-acade a span {
    margin-right: 10px;
}

.modal-content .list-acade a:hover,
.modal-content .list-acade a:focus,
.modal-content .list-acade a:active {
    color: #ee7925;
}

.modal-content .list-academy {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.modal-content .list-academy a {
    flex: 0 0 25%;
    font-size: 0.9rem;
    line-height: 1.6rem;
}

.modal-content .main-info {
    /* display: flex; */
    width: 50%;
    font-size: 1rem;
    background-color: white;
    /* margin-top: 5rem; */
    padding-top: 3rem;
    padding-bottom: 3rem;
   
}

.modal-content .wrap-address,
.modal-content .wrap-info,
.modal-content .wrap-contact {
    flex: 1;
}

.modal-content .wrap-address b {
    font-size: 1rem;
    text-align: left;
    margin: 0 auto;
}

.modal-content .wrap-info {
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: center;
    background-color: white;
}

.modal-content .wrap-info img {
    margin-top: -6rem;
    border-radius: 50%;
    border: 0.8rem solid white;
}

.modal-content .more-info {
    background-color: white;
}

.modal-content .more-info a {
    border-radius: 6px;
    border: 1px solid #ff7531;
    background-color: white;
    color: #ff7531;
    padding: 0.6rem;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    
}

.modal-content .wrap-contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8rem;
    /* align-items: flex-end; */
}

.modal-content .wrap-contact a {
    display: block;
    color: #ee7925;
    margin-bottom: 0.8rem;
}

.modal-content .wrap-contact svg {
    margin-right: 0.5rem;
    font-size: 1rem;
}

.modal-content .wrap-contact a:first-child {
    text-decoration: underline;
    /* margin-bottom: 2rem; */
    color: #5a5a5a;
}

.modal-content .wrap-contact a:last-child {
    padding-right: 4.2rem;
}

.modal-content .map-view {
    display: flex;
    flex-direction: row;
    box-shadow: 0 20px 60px rgba(2, 2, 30, 0.09);
}

.modal-content .map-view .map {
    /* flex: 4; */
    width: 100%;
}

.modal-content .map-view .service {
    /* flex: 5; */
    background: white;
    width: 50%;
    padding: 2rem 2rem 2rem 2rem;
}

.modal-content .map-view .service h7 {
    color: #1a1919;
    font-weight: bold;
    font-size: 1rem;
}

.modal-content .map-view .course,
.modal-content .map-view .course-odd {
    display: flex;
    /* justify-content: space-between; */
}

.modal-content .map-view .course {
    background-color: rgba(255, 255, 255, 0.5);
}

.modal-content .map-view .course-odd {
    background-color: white;
}
.conentWrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ee7925;
}

.modal-content .map-view .course-time ,
.modal-content .map-view .course-age,
.modal-content .map-view .book-trial {
    font-size: 1rem;
    flex: 1;
    padding: 1rem;
    padding-right: 0;
}
.modal-content .map-view .course-time {
    flex: unset;
    font-size: 16px;
    font-weight: 500;
    width: 160px;

}

.modal-content .map-view .course-age {
    text-align: right;
}

.modal-content .map-view .book-trial {
    margin: 36px 22px;
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 0;

    /* background-color: #ff7531; */

    color: #ff7531; 
    text-transform: uppercase;
    cursor: pointer;
    align-items:center;
    font-weight: 500;
    border: 1px solid #ff7531;
    border-radius: 6px;
}



.modal-content .map-view .book-trial > label{

    font-size: 15px;
    margin: 0;
    border: none!important;

} 

.modal-content .map-view .service .service-offered ul {
    list-style: none;
    padding-left: 0;
}

.modal-content .map-view .service .service-offered li {
    color: #5a5a5a;
    margin-bottom: 10px;
}

.modal-content .map-view .service .service-offered li:before {
    content: '•';
    font-size: 2rem;
    vertical-align: top;
    padding-right: 7px;
    line-height: 25px;
    color: #ee7925;
}

@media only screen and (max-width: 768px) and (min-width: 320px) {
    .modal-content .close {
        right: 0.5rem;
        top: 0.5rem;
    }

    .modal-content h2 {
        font-size: 1.8rem;
    }

    .modal-content .map-view .map {
        width: 100%;
    }

    .modal-content .wrap-row {
        padding: 0 0.5rem;
        flex-direction: column;
    }

    .modal-content .other-location {
        flex-direction: row;
    }

    .modal-content .main-info {
        width: 100%;
        margin-top: 2rem;
    }

    .modal-content .list-acade a {
        flex: 0 0 50%;
    }

    .modal-content .wrap-address,
    .modal-content .wrap-info,
    .modal-content .wrap-contact {
        display: flex;
        flex-direction: column;
        flex: 1 1;
        justify-content: space-around;
        align-items: center;
    }

    .modal-content .wrap-address {
        order: 2;
    }

    .modal-content .wrap-address p {
        text-align: center;
    }

    .modal-content .wrap-info {
        order: 1;
    }

    .modal-content .map-view .service {
        padding: 0 0.5rem;
        width: 100%;
    }

    .modal-content .wrap-contact {
        margin-top: 2rem;
        order: 3;
    }

    .modal-content .more-info {
        display: flex;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 2rem;
        /* padding-top: 1rem; */
    }

    .modal-content .wrap-contact a:last-child {
        padding-right: 0;
    }

    .modal-content .map-view {
        flex-direction: column;
    }

    .map-frame {
        height: 500px;
    }

    .modal-content .wrap-contact a {
        margin-left: initial;
    }
}
