 .our-policies{
  margin-bottom: 120px;
  margin-top: 120px ;
}

.policies {
	max-width: 60%;
}
@media (max-width:576px){
.our-policies{
		margin-top: 465px ;
}

.policies {
	max-width: 100%;
}
}

@media (max-width:450px){
.our-policies{
		margin-top: 500px ;
	}
}

@media (max-width:400px){
.our-policies{
		margin-top: 465px ;
	}
}

@media (max-width:350px){
.our-policies{
		margin-top: 800px ;
	}
}
