.about-info-weekly {
    margin-top: -65px;
}

.about-info-weekly .wrap-info {
    max-width: 700px;
    margin: auto;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 20px 60px rgb(2 2 30 / 9%);
    position: relative;
    background-color: white;
    padding: 50px;
}

.about-info-weekly .about-info .wrap-info .btn-book-free-session {
    width: 300px;
}

.about-secure-weekly {
    margin-top: 250px;
}

.insta-weekly .box-insta {
    padding-bottom: 120px;
}

@media only screen and (max-width: 768px) and (min-width: 320px) {
    .about-info-weekly {
        margin-top: -40px;
    }

    .about-info-weekly .about-info-title {
        text-align: left;
    }

    .about-info-weekly .about-info .wrap-info .btn-book-free-session {
        width: 100%;
    }

    .about-secure-weekly .about-secure .list-intro-item {
        background-color: #f2f2f2;
        box-shadow: none;
    }

    .background-weekly {
        width: 100%;
        display: inline-block;
        position: relative;
    }

    .background-weekly .training-include {
        margin-top: -145px;
        margin-bottom: 50px;
    }

    .background-weekly::before {
        width: 100%;
        position: absolute;
        left: 0;
        top: 685px !important;
        content: '';
        background: #ef9042;
        height: 1018px;
    }

    .background-weekly .change-color {
        margin-bottom: 0;
    }

    .background-weekly .change-color .slick-dots li button {
        border: 1px solid #fff !important;
    }

    .background-weekly .box-slide-review {
        /* padding-top: 258px !important; */
        padding: 0;
        margin: 0;
    }

    .background-weekly .box-slide-review .slick-dots .slick-active button {
        background-color: #fff !important;
    }

    .background-weekly .box-slide-review .slide .box-acc-review .description {
        color: #fff !important;
    }

    .background-weekly .box-slide-review .trustpilot {
        color: #fff !important;
    }

    .background-weekly .change-color .box-acc-review {
        border-top-color: #fff !important;
    }

    .football-weekly {
        /* margin-top: 100px; */
    }

    .football-weekly .box-football-beginning {
        padding: 45px 0 0 0;
    }

    .booking-weekly .book_your_child_free_session {
        margin-top: 0;
    }

    .booking-weekly .book_your_child_free_session .border-btn {
        width: 100%;
    }

    .insta-weekly .box-insta {
        padding-bottom: 90px;
    }

    .faq-weekly .qa {
        margin-bottom: 70px;
    }

    .about-info-weekly .wrap-info button {
        padding: 1rem 2rem !important;
    }
}
